[Desktop Entry]
ServiceTypes=audio/x-mp3
Actions=cut

[Desktop Action cut]
Name=cut this MP3
Name[de]=dieses MP3 schneiden
Name[fr]=coupe cette MP3
Name[it]=tagli questo MP3
Name[nl]=snijd dit MP3
Name[es]=corte este MP3
Name[pt]=corte este MP3
Name[ru]=отрежьте это MP3
Name[gr]=κόψτε αυτό το MP3
Name[jp]=このエムピー・スリーを切りなさい
Icon=sound
Exec=konsole -e cutmp3 -i %f
